@import "../../../scss/general_styling";

.CustomButton {
  @include buttonBase(0.5em 3em, 6px);
  height: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $secondary-color;
  outline: none;

  .ButtonText {
    @include primary-text($body, $white, 700);
    margin: 0;
  }
}

/*BUTTONS THEMES*/

.primary {
  background: $primary-color;
  border: 1px solid $primary-color;
  transition: 0.5s;
  color: $white;
  .ButtonText {
    color: $white;
  }

  &:hover,
  &:focus {
    background: darken($primary-color, 10%);
    border: 1px solid darken($primary-color, 10%);
    color: $white;
    .ButtonText {
      color: $white;
    }
  }
}
