$primary-color: #ff9828;
$secondary-color: #a2bbff;

$black-1: #1a1a1c;
$black-2: #222222;
$black-4: #393939;
$white: #ffffff;

$grey-1: #f4f4f6;
$grey-2: #e9e9ee;
$grey-3: #b5b0b0;
$grey-4: #c7c8d4;
$grey-5: #8f92a9;

$gradient-theme-1: linear-gradient(241.11deg, #ffa23d 0%, #a2bbff 100%);
$gradient-theme-2: linear-gradient(
  241.11deg,
  rgba(162, 187, 255, 0.1) 0%,
  rgba(255, 162, 61, 0.2) 100%
);
$gradient-theme-3: linear-gradient(90deg, #ffa23d 0%, #a2bbff 100%);
$gradient-theme-4: linear-gradient(
  241.11deg,
  rgba(255, 162, 61, 0.2) 0%,
  rgba(162, 187, 255, 0.1) 100%
);


$shadow: 0px 4px 4px 0px #00000040;

$title: 22px;
$numbers: 24px;
$h1: 24px;
$h2: 20px;
$h3: 18px;
$h4: 16px;
$button: 14px;
$body: 14px;
$label: 12px;
$explain: 10px;

@mixin primary-text($font-size, $font-color, $font-weight) {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  @if $font-color {
    color: $font-color;
  }
}

/* Buttons */

@mixin buttonBase($padding, $borderRad) {
  padding: $padding;
  border-radius: $borderRad;
  cursor: pointer;
}

@mixin ButtonPrimary($color, $background) {
  color: $color;
  background-color: $background;
  cursor: pointer;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
